$MaxWidthSite: 1300px;
$MaxWidthTextBox: 300px;
$body-background-color:#D8D8D8;
$TopBanner-Color:#003986;
$navbar-toggle-active-color:#428bca;
$body-td-th-color:#666;
$contact-font-color:#FFF;
$row-table-header-color:rgba(255,255,255,0.66);
$row-table-td-color:#f9f9f9;
$row-odd-color:#fff;
$row-even-color:#F5F5F5;
$row-hover-color:#EAEAEA;


